<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>G00419888</h1>
    <p>
        <a href="/students">Students</a><br>
        <a href="/grades">Grades</a><br>
        <a href="/lecturers">Lecturers</a>
    </p>
</body>
</html>
